<app-menu></app-menu>
<div class="centered-container">
  <div class="login-container">
    <table style="width: 100%;">
      <tr>
        <td>
          <h4>Miguel Angel Ospina Sanchez</h4>
          <h4>Administrador</h4>
        </td>
      </tr>
    </table>
    <br>
    <p>Detalles del perfil</p>
    <form>
      <div class="form-group">
        <i class="far fa-user-circle icon"></i>
        <input id="username" type="text" placeholder="Escriba su nombre" required />
      </div>

      <div class="form-group">
        <i class="fas fa-envelope icon"></i>
        <input id="username" type="text" placeholder="Escriba su usuario" required />
      </div>

      <div class="form-group">
        <i class="far fa-user-circle icon"></i>
        <input id="text" type="text" placeholder="Perfil" required />
      </div>

      <div class="form-group">
        <i class="fas fa-key icon"></i>
        <input id="password" type="password" placeholder="Escriba su nueva contraseña" required />
      </div>

      <div class="form-group">
        <i class="fas fa-key icon"></i>
        <input id="password" type="password" placeholder="Confirmar su contraseña" required />
      </div>

      <div class="form-group">
        <i class="fas fa-file-alt icon"></i>
        <input id="username" type="text" placeholder="Cédula" required />
      </div>

      <div class="form-group">
        <i class="far fa-user-circle icon"></i>
        <input id="username" type="text" placeholder="Cargo" required />
      </div>

      <table style="width: 100%;">
        <tr>
          <td>
            <button type="button" class="btn-submit">Restablecer</button>
          </td>
          <td>
            <button type="button" class="btn-submit" style="background-color: #808080;">Cancelar</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
