<app-menu></app-menu>
<div class="container">
  <h2>Planeación de Rutas</h2>
  <p class="text-secondary">Administre las rutas de la empresa</p>
  <div class="d-flex justify-content-start mb-3">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" routerLink="/planificacion-rutas">
        <i class="bi bi-arrow-return-left me-1"></i>
        <span class="text-nowrap ms-1">Volver</span>
      </button>
      <div class="input-group me-2">
        <select class="form-select" id="exampleSelect" aria-label="Selecciona una opción">
          <option selected>202410</option>
        </select>
      </div>
      <div class="input-group me-2">
        <select class="form-select" id="exampleSelect" aria-label="Selecciona una opción">
          <option selected>Familia</option>
        </select>
      </div>
      <div class="input-group me-2">
        <select class="form-select" id="exampleSelect" aria-label="Selecciona una opción" style="width: 150px;">
          <option selected>Producto</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" style="min-width: 190px">
        <i class="bi bi-robot me-1"></i>
        <span class="text-nowrap ms-1">Encontrar Rutas AI</span>
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="openModal(history)">
        <i class="bi bi-clock-history me-1"></i>
        <span class="text-nowrap ms-1">Histórico</span>
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <th scope="col" class="text-secondary text-center">Producto</th>
        <th scope="col" class="text-secondary text-center">Equipos Usados</th>
        <th scope="col" class="text-secondary text-center">Restricciones Ruta</th>
        <th scope="col" class="text-secondary text-center">Tiempo</th>
        <th scope="col" class="text-secondary text-center">Precisión</th>
        <th scope="col" class="text-secondary text-center">Familia</th>
        <th scope="col" class="text-secondary text-center">AI</th>
        <th scope="col" class="text-secondary text-center">Selección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let washRestriction of washRestrictions; let i = index">
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <td class="text-secondary text-center">PRD # {{i+1}}</td>
        <td class="text-secondary text-center">{{ washRestriction.equipmentList.join(', ') }}</td>
        <td class="text-secondary text-center">Restricciones</td>
        <td class="text-secondary text-center">10 min</td>
        <td class="text-secondary text-center">{{ washRestriction.requestDate | date:'dd/MM/yyyy' }}</td>
        <td class="text-secondary text-center">Familia</td>
        <td class="text-secondary text-center">
          <input type="radio" name="ai">
        </td>
        <td class="text-secondary text-center">
          <input type="radio" name="seleccion">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-light me-2 text-secondary" [ngClass]="{'active': currentPage === (i + 1)}" *ngFor="let page of pages; let i = index" (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>

  <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2">
        <i class="bi bi-floppy me-1"></i>
        <span class="text-nowrap ms-1">Guardar</span>
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" routerLink="/planificacion-rutas-priorizacion">
        <i class="bi bi-calendar-plus me-1"></i>
        <span class="text-nowrap ms-1">Priorizar</span>
      </button>
    </div>
  </div>

  <!-- Modal importar plan -->
  <ng-template #content let-history #history>
    <div class="modal-content">
      <div class="modal-header vstack gap-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="history.dismiss('Cross click')"></button>
        <h1 class="modal-title fs-5" id="modalTitle">Histórico Planeación</h1>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr class="table-secondary">
              <th scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                </div>
              </th>
              <th scope="col" class="text-secondary text-center">Periodo</th>
              <th scope="col" class="text-secondary text-center">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let washRestriction of washRestrictions">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                </div>
              </th>
              <td class="text-secondary text-center">202410</td>
              <td class="text-secondary text-center">
                <button class="btn btn-light" (click)="history.dismiss('Cross click')">
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</div>
