<app-menu></app-menu>
<div class="container mb-5">
  <h2>Planeación de Rutas</h2>
  <p class="text-secondary">Administre las rutas de la empresa</p>
  <div class="d-flex justify-content-start mb-3">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" routerLink="/planificacion-rutas">
        <i class="bi bi-arrow-return-left me-1"></i>
        <span class="text-nowrap ms-1">Volver</span>
      </button>
      <div class="input-group me-2">
        <select class="form-select" aria-label="Selecciona una opción" [formControl]="familiaFilterControl">
          <option value="0" selected disabled>Familia</option>
          <option [value]="familia.id" *ngFor="let familia of familiasInSemana">{{ familia.label }}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" style="min-width: 190px" (click)="openSemanaChooseModal(semanaModal)">
        <i class="bi bi-robot me-1"></i>
        <span class="text-nowrap ms-1">Encontrar Rutas AI</span>
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="openModal(history)">
        <i class="bi bi-clock-history me-1"></i>
        <span class="text-nowrap ms-1">Histórico</span>
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col" class="text-secondary text-center">Familia</th>
        <th scope="col" class="text-secondary text-center">Descripción</th>
        <th scope="col" class="text-secondary text-center">Equipos Usados</th>
        <th scope="col" class="text-secondary text-center">Restricciones Ruta</th>
        <!-- <th scope="col" class="text-secondary text-center">Tiempo</th> -->
        <th scope="col" class="text-secondary text-center">Precisión</th>
        <th scope="col" class="text-secondary text-center">AI</th>
        <th scope="col" class="text-secondary text-center">Selección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planDetails of data">
        <td class="text-secondary text-center">{{ planDetails.nombreFamilia }}</td>
        <td class="text-secondary text-center">{{ planDetails.nombreRuta }}</td>
        <td class="text-secondary text-center">{{ planDetails.listaEquipos?.join(', ') }}</td>
        <td class="text-secondary text-center">{{ planDetails.nombreRestriccion }}</td>
        <!-- <td class="text-secondary text-center">10 min</td> -->
        <td class="text-secondary text-center">{{ formatPercent(planDetails.precision ?? 0) }}</td>
        <td class="text-secondary text-center">
          <input type="checkbox" name="ai" disabled [checked]="planDetails.sugerencia">
        </td>
        <td class="text-secondary text-center">
          <input type="radio" [name]="planDetails.idFamilia" [checked]="planDetails.seleccionado" (change)="selectPlan(planDetails)">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-light me-2 text-secondary" [ngClass]="{'active': currentPage === page}" *ngFor="let page of pages" (click)="changePage(page)">
      {{ page }}
    </button>
  </div>

  <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="saveHistoricoData()">
        <i class="bi bi-floppy me-1"></i>
        <span class="text-nowrap ms-1">Guardar</span>
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" routerLink="/planificacion-rutas-priorizacion">
        <i class="bi bi-calendar-plus me-1"></i>
        <span class="text-nowrap ms-1">Priorizar</span>
      </button>
    </div>
  </div>

  <!-- Modal semana -->
  <ng-template let-semanaModal #semanaModal>
    <div class="modal-content">
      <div class="modal-header vstack gap-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="semanaModal.dismiss('Cross click')"></button>
        <h1 class="modal-title fs-5" id="modalTitle">Seleccione semana objetivo</h1>
      </div>
      <div class="modal-body">
        <div class="input-group me-2">
          <input type="text" class="form-control" placeholder="Buscar" [formControl]="semanaControl">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="semanaModal.dismiss('Close click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="getData()" [disabled]="loading">Asignar</button>
      </div>
    </div>
  </ng-template>

  <!-- Modal importar plan -->
  <ng-template #content let-history #history>
    <div class="modal-content">
      <div class="modal-header vstack gap-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="history.dismiss('Cross click')"></button>
        <h1 class="modal-title fs-5" id="modalTitle">Histórico Planeación</h1>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr class="table-secondary">
              <th scope="col" class="text-secondary text-center">Periodo</th>
              <th scope="col" class="text-secondary text-center">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let semana of historicoData">
              <td class="text-secondary text-center">{{ semana }}</td>
              <td class="text-secondary text-center">
                <button class="btn btn-light" (click)="getSpecificSemanaData(semana)">
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-light me-2 text-secondary" [ngClass]="{'active': historicoCurrentPage === page}" *ngFor="let page of historicoPages" (click)="changeHistoricoPage(page)">
            {{ page }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
