<div class="centered-container">
  <div class="login-container">
    <img src="./assets/img/logo.png" alt="Imagen de usuario" class="login-image" />
    <img src="./assets/img/logo_2.png" alt="Imagen de usuario" class="login-image" />
    <form [formGroup]="loginForm" (ngSubmit)="updatePassword()">

      <!-- Campo de usuario -->
      <div class="form-group">
        <div class="input-container">
          <i class="fas fa-key icon"></i>
          <input
            type="password"
            placeholder="Digite su nueva contraseña"
            formControlName="password"
            [ngClass]="{'is-invalid': password.touched && password.invalid}" />
        </div>
        <!-- Mensajes de error para el campo de usuario -->
        <div *ngIf="password?.touched && password?.invalid" class="invalid-feedback">
          <div *ngIf="password?.errors?.['required']">El campo es requerido.</div>
          <div *ngIf="password?.errors?.['minlength']">El mínimo de caracteres es de 4.</div>
        </div>
      </div>

      <!-- Campo de contraseña -->
      <div class="form-group">
        <div class="input-container">
          <i class="fas fa-key icon"></i>
          <input
            type="password"
            placeholder="Confirme su contraseña"
            formControlName="confirmPassword"
            [ngClass]="{'is-invalid': confirmPassword.touched && confirmPassword.invalid || confirmPassword.touched && loginForm.invalid}" />
        </div>
        <!-- Mensajes de error para el campo de contraseña -->
        <div *ngIf="confirmPassword?.touched && password?.invalid || confirmPassword.touched && loginForm.invalid" class="invalid-feedback">
          <div *ngIf="confirmPassword?.errors?.['required']">El campo es requerido.</div>
          <div *ngIf="loginForm?.errors?.['mustMatch']">La confirmación no coincide con la contraseña</div>
        </div>
      </div>

      <button [disabled]="loginForm.invalid || loading" type="submit" class="btn-submit">Reestrablecer</button>
    </form>
  </div>
</div>

<div *ngIf="loading" class="loading">
  <div class="radar">
    <img src="./assets/img/logo.png" alt="Cargando..." class="loading-image" />
  </div>
  <br>
  <p>Espere por favor...</p>
</div>
