<app-menu></app-menu>
<div class="container">
  <h2>Restricción de Lavados</h2>
  <p class="text-secondary">Administre las máquinas de la empresa</p>
  <div class="d-flex justify-content-end mb-3">
    <div class="d-flex align-items-center">
      <div class="input-group me-2">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
        <input type="text" class="form-control" placeholder="Buscar" [formControl]="searchQuery">
      </div>
      <button type="button" class="btn btn-outline-secondary d-flex align-items-center me-2">
        <i class="bi bi-filter me-1"></i>
        Filtrar
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="exportToExcel()">
        <i class="bi bi-upload me-1"></i>
        Exportar
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" style="min-width: 170px;" (click)="openModal(newPlan)">
        <i class="bi bi-plus-circle me-1"></i>
        <span class="text-nowrap ms-1">Ingresar nuevo</span>
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <th scope="col" class="text-secondary text-center">Código</th>
        <th scope="col" class="text-secondary text-center">Descripción</th>
        <th scope="col" class="text-secondary text-center">Estado</th>
        <th scope="col" class="text-secondary text-center">Fecha de creación</th>
        <th scope="col" class="text-secondary text-center">Tipo</th>
        <th scope="col" class="text-secondary text-center">Frecuencia</th>
        <th scope="col" class="text-secondary text-center">Tiempo</th>
        <th scope="col" class="text-secondary text-center">Prioridad</th>
        <th scope="col" class="text-secondary text-center">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let washRestriction of paginatedData">
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <td class="text-secondary text-center">{{ washRestriction.id }}</td>
        <td class="text-secondary text-center">{{ washRestriction.descripcion }}</td>
        <td><span [ngClass]="getStatusStyle(washRestriction.estado!)" class="badge border">{{ washRestriction.estado == true ? 'Activo' : 'Inactivo' }}</span></td>
        <td class="text-secondary text-center">{{ washRestriction.fechaCreacion | date:'dd/MM/yyyy' }}</td>
        <td class="text-secondary text-center">{{ washRestriction.tipoLavado }}</td>
        <td class="text-secondary text-center">{{ washRestriction.frecuenciaLavado }}</td>
        <td class="text-secondary text-center">{{ washRestriction.tiempoLavado }}</td>
        <td class="text-secondary text-center">{{ washRestriction.prioridad }}</td>
        <td class="d-flex">
          <button type="button" class="btn rounded-pill border border-danger text-danger bg-danger-subtle me-2" (click)="eliminarRegistro()">Eliminar</button>
          <button type="button" class="btn rounded-pill border border-success text-success bg-success-subtle me-2" (click)="openModal(editPlan);actualizar()">Actualizar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 100px;">
    <!-- Paginación -->
    <ul class="pagination mb-0">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(1)">Primero</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Siguiente</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(totalPages)">Último</a>
      </li>
    </ul>

    <!-- Selector de cantidad por página -->
    <div class="d-flex align-items-center ms-3">
      <label for="itemsPerPage" class="form-label mb-0">Mostrar</label>
      <select id="itemsPerPage" class="form-select w-auto ms-2" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <span class="ms-2">por página</span>
    </div>
  </div>

  <!-- Modal nueva restricción -->
  <ng-template #content let-newPlan #newPlan>
    <div class="modal-content">
      <div class="modal-header vstack gap-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="newPlan.dismiss('Cross click')"></button>
        <h1 class="modal-title fs-5" id="modalTitle">Gestión Restricción de Lavados</h1>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="formGroup">
            <div class="container text-center">
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="codigoInput" class="col-form-label">Código</label>
                </div>
                <div class="col-8">
                  <input type="text" id="codigoInput" class="form-control" [ngClass]="{'is-invalid': codigo?.touched && codigo?.invalid}" formControlName="codigo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="codigo?.invalid && codigo?.touched" class="text-danger">
                    El código es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="descripcionInput" class="col-form-label">Descripción</label>
                </div>
                <div class="col-8">
                  <input type="text" id="descripcionInput" class="form-control" [ngClass]="{'is-invalid': descripcion?.touched && descripcion?.invalid}" formControlName="descripcion">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="descripcion?.invalid && descripcion?.touched" class="text-danger">
                    La descripción es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="familiaInput" class="col-form-label">Familia</label>
                </div>
                <div class="col-8">
                  <!-- <input type="text" id="familiaInput" class="form-control"[ngClass]="{'is-invalid': familia?.touched && familia?.invalid}" formControlName="familia"> -->
                  <select
                    id="familiaInput"
                    class="form-control"
                    [ngClass]="{'is-invalid': familia?.touched && familia?.invalid}"
                    formControlName="equipo"
                  >
                    <option *ngFor="let opcion of lstFamilia" [value]="opcion.idFamilia">
                      <!-- {{ opcion.nombreFamilia }} -->
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="familia?.invalid && familia?.touched" class="text-danger">
                    La familia es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="tipoInput" class="col-form-label">Tipo lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="tipoInput" class="form-control" [ngClass]="{'is-invalid': tipo?.touched && tipo?.invalid}" formControlName="tipo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="tipo?.invalid && tipo?.touched" class="text-danger">
                    El tipo es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="roleInput" class="col-form-label">Frecuencia de lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="frecuenciaInput" class="form-control" [ngClass]="{'is-invalid': frecuencia?.touched && frecuencia?.invalid}" formControlName="frecuencia">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="frecuencia?.invalid && frecuencia?.touched" class="text-danger">
                    La frecuencia es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="tiempoInput" class="col-form-label">Tiempo de lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="tiempoInput" class="form-control" [ngClass]="{'is-invalid': tiempo?.touched && tiempo?.invalid}" formControlName="tiempo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="tiempo?.invalid && tiempo?.touched" class="text-danger">
                    El tiempo es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="equipoInput" class="col-form-label">Equipo</label>
                </div>
                <div class="col-8">
                  <!-- <input type="text" id="equipoInput" class="form-control" [ngClass]="{'is-invalid': equipo?.touched && equipo?.invalid}" formControlName="equipo"> -->
                  <select
                    id="equipoInput"
                    class="form-control"
                    [ngClass]="{'is-invalid': equipo?.touched && equipo?.invalid}"
                    formControlName="equipo"
                  >
                    <option *ngFor="let opcion of lstEquipos" [value]="opcion.idMaquina">
                      {{ opcion.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="equipo?.invalid && equipo?.touched" class="text-danger">
                    El equipo es requerido.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Ingresar</button>
        <button type="button" class="btn btn-secondary" (click)="newPlan.dismiss('Close click')">Cancelar</button>
      </div>
    </div>
  </ng-template>

  <!-- Modal editar restricción -->
  <ng-template #content let-editPlan #editPlan>
    <div class="modal-content">
      <div class="modal-header vstack gap-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="editPlan.dismiss('Cross click')"></button>
        <h1 class="modal-title fs-5" id="modalTitle">Editar Restricción de Lavados</h1>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="formGroup">
            <div class="container text-center">
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="codigoInput" class="col-form-label">Código</label>
                </div>
                <div class="col-8">
                  <input type="text" id="codigoInput" class="form-control" [ngClass]="{'is-invalid': codigo?.touched && codigo?.invalid}" formControlName="codigo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="codigo?.invalid && codigo?.touched" class="text-danger">
                    El código es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="descripcionInput" class="col-form-label">Descripción</label>
                </div>
                <div class="col-8">
                  <input type="text" id="descripcionInput" class="form-control" [ngClass]="{'is-invalid': descripcion?.touched && descripcion?.invalid}" formControlName="descripcion">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="descripcion?.invalid && descripcion?.touched" class="text-danger">
                    La descripción es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="familiaInput" class="col-form-label">Familia</label>
                </div>
                <div class="col-8">
                  <!-- <input type="text" id="familiaInput" class="form-control"[ngClass]="{'is-invalid': familia?.touched && familia?.invalid}" formControlName="familia"> -->
                  <select
                    id="familiaInput"
                    class="form-control"
                    [ngClass]="{'is-invalid': familia?.touched && familia?.invalid}"
                    formControlName="equipo"
                  >
                    <option *ngFor="let opcion of lstFamilia" [value]="opcion.idFamilia">
                      <!-- {{ opcion.nombreFamilia }} -->
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="familia?.invalid && familia?.touched" class="text-danger">
                    La familia es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="tipoInput" class="col-form-label">Tipo lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="tipoInput" class="form-control" [ngClass]="{'is-invalid': tipo?.touched && tipo?.invalid}" formControlName="tipo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="tipo?.invalid && tipo?.touched" class="text-danger">
                    El tipo es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="roleInput" class="col-form-label">Frecuencia de lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="frecuenciaInput" class="form-control" [ngClass]="{'is-invalid': frecuencia?.touched && frecuencia?.invalid}" formControlName="frecuencia">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="frecuencia?.invalid && frecuencia?.touched" class="text-danger">
                    La frecuencia es requerida.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="tiempoInput" class="col-form-label">Tiempo de lavado</label>
                </div>
                <div class="col-8">
                  <input type="text" id="tiempoInput" class="form-control" [ngClass]="{'is-invalid': tiempo?.touched && tiempo?.invalid}" formControlName="tiempo">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="tiempo?.invalid && tiempo?.touched" class="text-danger">
                    El tiempo es requerido.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <label for="equipoInput" class="col-form-label">Equipo</label>
                </div>
                <div class="col-8">
                  <!-- <input type="text" id="equipoInput" class="form-control" [ngClass]="{'is-invalid': equipo?.touched && equipo?.invalid}" formControlName="equipo"> -->
                  <select
                    id="equipoInput"
                    class="form-control"
                    [ngClass]="{'is-invalid': equipo?.touched && equipo?.invalid}"
                    formControlName="equipo"
                  >
                    <option *ngFor="let opcion of lstEquipos" [value]="opcion.idMaquina">
                      {{ opcion.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-12">
                  <div *ngIf="equipo?.invalid && equipo?.touched" class="text-danger">
                    El equipo es requerido.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Actualizar</button>
        <button type="button" class="btn btn-secondary" (click)="editPlan.dismiss('Close click')">Cancelar</button>
      </div>
    </div>
  </ng-template>
</div>
