<div class="container">
  <h2>Administración de Equipos <span class="text-secondary">{{ equimentCount }}</span></h2>
  <p class="text-secondary">Administre la maquinaria de la empresa</p>
  <div class="d-flex justify-content-end mb-3">
    <div class="d-flex align-items-center">
      <div class="input-group me-2">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
      <button type="button" class="btn btn-outline-secondary d-flex align-items-center me-2">
        <i class="bi bi-filter me-1"></i>
        Filtrar
      </button>
      <button type="button" class="btn btn-primary d-flex align-items-center">
        <i class="bi bi-upload me-1"></i>
        Exportar
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <th scope="col" class="text-secondary text-center">Código</th>
        <th scope="col" class="text-secondary text-center">Tipo</th>
        <th scope="col" class="text-secondary text-center">Estado</th>
        <th scope="col" class="text-secondary text-center">Fecha de creación</th>
        <th scope="col" class="text-secondary text-center">Drecripción</th>
        <th scope="col" class="text-secondary text-center">Zona Ubicación</th>
        <th scope="col" class="text-secondary text-center">Restricción Equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipments">
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <td class="text-secondary text-center">{{ equipment.code }}</td>
        <td class="text-secondary text-center">{{ equipment.type }}</td>
        <td>
          <span [ngClass]="getStatusStyle(equipment.status)" class="badge border">{{ equipment.status }}</span>
        </td>
        <td class="text-secondary text-center">{{ equipment.creationDate | date:'dd/MM/yyyy' }}</td>
        <td class="text-secondary text-center">{{ equipment.description }}</td>
        <td class="text-secondary text-center">{{ equipment.location }}</td>
        <td class="d-flex justify-content-center">
          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#restrictionAdminModal">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-light me-2 text-secondary" [ngClass]="{'active': currentPage === (i + 1)}" *ngFor="let page of pages; let i = index" (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>

  <div class="modal fade" id="restrictionAdminModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header vstack gap-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <img src="./assets/img/logo.png" alt="logo">
          <h1 class="modal-title fs-5" id="modalTitle">Admnistración de Restricciones</h1>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr class="table-secondary">
                <th scope="col" class="text-secondary text-center">Restricción</th>
                <th scope="col" class="text-secondary text-center">Tipo</th>
                <th scope="col">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipmentRestriction of equipmentRestrictions">
                <td class="text-secondary text-center">{{ equipmentRestriction.restriction }}</td>
                <td class="text-secondary text-center">{{ equipmentRestriction.type }}</td>
                <th scope="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Asignar</button>
        </div>
      </div>
    </div>
  </div>
</div>
