/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

/* Estilo de la imagen del proceso de la planta */
.plant-image img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Mantiene la calidad de la imagen */
}

/* Logo de la empresa */
.navbar-logo .logo {
  width: 150px;
  height: auto;
}

/* Estilo del avatar del usuario */
.navbar-avatar {
  position: relative; /* Asegura que el menú se posicione en relación con este contenedor */
}

.navbar-avatar .avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 5px;
  border: 1px solid #333; /* Ajusta el color y grosor del borde */
}

/* Información del usuario */
.user-info p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

/* Estilo del menú horizontal */
.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Menú desplegable en el avatar */
.navbar-avatar .dropdown-menu {
  left: -150px !important;  /* Asegura que el menú se posicione a la izquierda del avatar */
  right: auto !important; /* Desactiva cualquier alineación hacia la derecha */
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-avatar {
    display: none;
  }
}


.large-arrow::after {
  font-size: 1.3em; /* Ajusta el tamaño según sea necesario */
}


/* Posicionamiento del submenú */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: -100px;
  margin-top: -6px;
  display: none; /* Ocultar el submenú inicialmente */
}

.dropdown-submenu:hover .dropdown-menu {
  display: block; /* Mostrar el submenú al pasar el mouse */
}

/* Menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 55px;  /* Coloca el menú justo debajo del avatar */
  left: 100px;    /* Alinea el menú con el borde izquierdo del avatar */
  width: auto; /* Ajusta el ancho automáticamente */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000; /* Asegura que el menú esté encima de otros elementos */
}

/* Estilos de los elementos del menú */
.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.dropdown-menu li a i {
  margin-right: 10px;
  font-size: 16px;
}

/* Hover de los elementos del menú */
.dropdown-menu li:hover {
  background-color: #f1f1f1;
}
