/* Contenedor centrado para el formulario */
.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f6f9;
  padding: 0 1rem;
}

/* Contenedor principal del formulario */
.login-container {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

/* Estilo de la imagen del logo */
.login-image {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

/* Contenedor de cada campo de entrada */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilo del icono dentro del campo de entrada */
.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
  pointer-events: none;
}

/* Estilo para los inputs */
input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* Padding izquierdo para icono */
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Estilo al enfocar el input */
input:focus {
  border-color: #007bff;
}

/* Estilo para los mensajes de error */
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0px;
  width: 100%;
  text-align: left;
  position: absolute; /* Posiciona el mensaje fuera del flujo de los inputs */
  top: 100%; /* Se asegura que el mensaje de error esté debajo del input */
  left: 0;
}

/* Estilos para el botón */
.btn-submit {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color en el hover del botón */
.btn-submit:hover {
  background-color: #0056b3;
}

/* Estilos de la carga */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.radar {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  animation: pulse 1.5s infinite;
}

.loading-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading p {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
