<app-menu></app-menu>
<div class="container">
  <p class="text-secondary">Priorización de Producción Celema</p>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <th scope="col" class="text-secondary text-center">Producto</th>
        <th scope="col" class="text-secondary text-center">Equipos Usados</th>
        <th scope="col" class="text-secondary text-center">Restricciones Ruta</th>
        <th scope="col" class="text-secondary text-center">Restricciones Equipo</th>
        <th scope="col" class="text-secondary text-center">Lavado</th>
        <th scope="col" class="text-secondary text-center">Familia</th>
        <th scope="col" class="text-secondary text-center">Orden</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productPrioritization of data">
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <td class="text-secondary text-center">{{ productPrioritization.idProducto }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.nombreMaquina }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionRuta }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionesMaquina?.join(', ') }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionesLavado?.join(', ') }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.nombreFamilia }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.ejecucion }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-light me-2 text-secondary" [ngClass]="{'active': currentPage === page}" *ngFor="let page of pages" (click)="changePage(page)">
      {{ page }}
    </button>
  </div>

  <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2">
        <i class="bi bi-floppy me-1"></i>
        <span class="text-nowrap ms-1">Guardar</span>
      </button>
      <button type="button" class="btn btn-secondary d-flex align-items-center me-2" routerLink="/planificacion-rutas-detalle">
        <span class="text-nowrap ms-1">Cancelar</span>
      </button>
    </div>
  </div>
</div>
