<app-menu></app-menu>
<div class="container pb-5">
  <h2>Priorización de Producción Celema</h2>
  <div class="d-flex justify-content-end mb-3">
    <div class="input-group me-2">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
      <input type="text" class="form-control" placeholder="Buscar: producto, familia, equipo" ngbTooltip="Buscar por código, equipo, tipo" [formControl]="searchQuery">
    </div>
    <button type="button" class="btn btn-outline-secondary d-flex align-items-center me-2" (click)="filterData()">
      <i class="bi bi-filter me-1"></i>
      Filtrar
    </button>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="exportToExcel()">
        <i class="bi bi-upload me-1"></i>
        Exportar
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" [checked]="isAllChecked()" (change)="toggleAll($event)">
          </div>
        </th>
        <th scope="col" class="text-secondary text-center">Producto</th>
        <th scope="col" class="text-secondary text-center">Familia</th>
        <th scope="col" class="text-secondary text-center">Equipos Usados</th>
        <th scope="col" class="text-secondary text-center">Restricciones Ruta</th>
        <th scope="col" class="text-secondary text-center">Restricciones Equipo</th>
        <th scope="col" class="text-secondary text-center">Lavado</th>
        <th scope="col" class="text-secondary text-center">Cantidad a Producir</th>
        <th scope="col" class="text-secondary text-center">Orden</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productPrioritization of paginatedData">
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" (change)="updateSelectAll($event, productPrioritization.idProducto! + '-' + productPrioritization.idMaquina! + '-' + productPrioritization.ejecucion)" [checked]="isChecked(productPrioritization.idProducto! + '-' +productPrioritization.idMaquina! + '-' + productPrioritization.ejecucion)">
          </div>
        </th>
        <td class="text-secondary text-center">{{ productPrioritization.idProducto }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.nombreFamilia }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.nombreMaquina }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionRuta }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionesMaquina?.join(', ') }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.restriccionesLavado?.join(', ') }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.volumenProducir }}</td>
        <td class="text-secondary text-center">{{ productPrioritization.ejecucion }}</td>
      </tr>
    </tbody>
  </table>

   <!-- Paginación -->
   <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 100px;">
    <!-- Paginación -->
    <ul class="pagination mb-0">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(1)">Primero</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Siguiente</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(totalPages)">Último</a>
      </li>
    </ul>

    <!-- Selector de cantidad por página -->
    <div class="d-flex align-items-center ms-3">
      <label for="itemsPerPage" class="form-label mb-0">Mostrar</label>
      <select id="itemsPerPage" class="form-select w-auto ms-2" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <span class="ms-2">por página</span>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary d-flex align-items-center me-2" (click)="saveData()" [disabled]="loading">
        <i class="bi bi-floppy me-1"></i>
        <span class="text-nowrap ms-1">Guardar</span>
      </button>
      <button type="button" class="btn btn-secondary d-flex align-items-center me-2" routerLink="/planificacion-rutas-detalle">
        <span class="text-nowrap ms-1">Cancelar</span>
      </button>
    </div>
  </div>
</div>
